.border{
  border: 2px solid blue;
  margin: 3px;
}
.flex{
    display: flex;
}
.justify{
    justify-content: center;
}
.item{
    align-items: center;
}

.bg-black{
    background-color: black;
}
.invert{
    filter: invert(1);
}