
.border{
  /* border: 2px solid blue; */
  margin: 3px;
}
.flex{
    display: flex;
}
.justify{
    justify-content: center;
}
.item{
    align-items: center;
}

.bg-black{
  background-color: #000000;
  padding: 3px;
}
.invert{
    filter: invert(1);
}
.bg-grey{
    background-color:rgb(32, 32, 32);
}

.rounded{
    border-radius: 6px;
}
.ma-1{
    margin: 5px;
}
.p-1{
    padding: 19px
}
